#jinja2: lstrip_blocks: True
#!/usr/bin/env nft -f
flush ruleset

define ipv4_addr_rfc1918 = { 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16 }
define ipv6_addr_ula = { fc00::/7 }

{% for name, item in firewall["zones"].items() %}
define {{ name }}_interfaces = { {{ item["interfaces"] | unique | join(", ") }} }
{% endfor %}

{% include "templates/" ~ inventory_hostname ~ "/nftables/user_define.j2" ignore missing %}

{% if firewall["srcnat"] or firewall["dstnat"] %}
table inet nat {
{% if firewall["dstnat"] %}
{% for name, item in firewall["zones"].items() %}
{% if "redirect" in item %}
    map redirect_{{ name }} {
        type inet_proto . inet_service : inet_service
        elements = {
            {% for proto, val in item["redirect"].items() %}
            {% for pair in val %}
            {{ proto }} . {{ pair["from"] }} : {{ pair["to"] }},
            {% endfor %}
            {% endfor %}
        }
    }
{% endif %}
{% endfor %}
    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_dstnat.j2" ignore missing %}
        {% for name, item in firewall["zones"].items() %}
        {% if "redirect" in item %}
        iifname ${{ name }}_interfaces meta l4proto { tcp, udp } redirect to :meta l4proto . th dport map @redirect_{{ name }}
        {% endif %}
        {% endfor %}
    }
{% endif %}
{% if firewall["srcnat"] %}
    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;
        {% include "templates/" ~ inventory_hostname ~ "/nftables/user_srcnat.j2" ignore missing %}
        {% for item in firewall["forwarding"] if item["masquerade"] %}
        ip saddr $ipv4_addr_rfc1918 iifname ${{ item["source"] }}_interfaces oifname ${{ item["destination"] }}_interfaces masquerade
        {% endfor %}
    }
{% endif %}
}
{% endif %}

table inet filter {

    chain input {
        type filter hook input priority filter; policy drop;
        iifname lo accept
        ct state vmap { established: accept, related: accept, invalid: drop }
        icmp type { echo-request } accept
        icmpv6 type { echo-request, nd-router-solicit, nd-router-advert, nd-neighbor-solicit, nd-neighbor-advert } accept
        {% for name, item in firewall["zones"].items() %}
        iifname ${{ name }}_interfaces jump input_{{ name }}
        {% endfor %}
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        ct state vmap { established: accept, related: accept, invalid: drop }
        {% if firewall["dstnat"] %}
        ct status dnat accept
        {% endif %}
        {% for item in firewall["forwarding"] %}
        iifname ${{ item["source"] }}_interfaces oifname ${{ item["destination"] }}_interfaces jump forward_{{ item["source"] }}_{{ item["destination"] }}
        {% endfor %}
        reject
    }

    chain output {
        type filter hook output priority filter; policy accept;
        {% for name, item in firewall["zones"].items() %}
        oifname ${{ name }}_interfaces jump output_{{ name }}
        {% endfor %}
    }

    {% for name, item in firewall["zones"].items() %}
    chain input_{{ name }} {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/input_" ~ name ~ ".j2" ignore missing %}
        {% if "redirect" in item %}
        ct status dnat accept
        {% endif %}
        {% if "input_dports" in item %}
        {% for proto, ports in item["input_dports"].items() %}
        {{ proto }} dport { {{ ports | join(", ") }} } accept
        {% endfor %}
        {% endif %}
    }

    chain output_{{ name }} {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/output_" ~ name ~ ".j2" ignore missing %}

    }
    {% endfor %}

    {% for item in firewall["forwarding"] %}
    chain forward_{{ item["source"] }}_{{ item["destination"] }} {
        {% include "templates/" ~ inventory_hostname ~ "/nftables/forward_" ~ item["source"] ~ "_" ~ item["destination"] ~ ".j2" ignore missing %}

    }
    {% endfor %}
}
